.tag {
  /* border: 1px solid hsl(180, 29%, 50%); */
  border-radius: 0.3rem;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  margin: 0.7rem;
  padding: 0.4rem;
  font-weight: bold;
}