html {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

body {
  margin: 0px;
  padding: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.job-card {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  border-left: 4px solid hsl(180, 29%, 50%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px rgb(203 236 239);
}

.job-card .job-description {
  display: flex;
  width: 55%;
  /* border: 1px solid red;   */
}

.job-card .job-description .image {
  width: 30%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.job-card .job-description .description {
  width: 100%;
  margin: 1.3rem;
}

.job-card .job-description .description .description-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.job-card .job-description .description .description-wrapper h4 {
  padding-right: 1.3rem;
  margin: 0px;
  color: hsl(180, 29%, 50%);
}

.job-card .job-description .description .description-wrapper .pill{
  padding: 0.4rem 0.7rem;
  margin-right: 0.7rem;
  border-radius: 1.7rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.job-card .job-description .description .description-wrapper span:nth-child(2) {
  background-color: hsl(180, 29%, 50%);
}

.job-card .job-description .description .description-wrapper span:last-child {
  background-color: black;
}

.job-card .job-description .description .publising span {
  padding-right: 1.3rem;
  color: #7b8484;;
}


.job-card .tag-wrapper {
  display: flex;
  align-items: center;
  width: auto;
}

